.Scoreboard{
	border: 4px #000000;
	border-style: solid;
	box-shadow: 0 2px 2px #ccc;
	width: 250px;
	display: block;
	margin: 20px;
	padding: 10px;
	box-shadow: 20px;
	background-color: silver;
	font-family:  arial;
}

.scoreboard {
	text-align: left;
}

.statusbox {
	font-size: 20px;
	font-weight: bold;
	vertical-align: bottom;
	margin: auto;
}

.hand {
	margin: auto;
	text-align: center;
	vertical-align: bottom;
}

.discardpile{
	text-align: center;
}
.Parent{
	text-align: center;
	vertical-align: bottom;
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-shadow: 20px;
	background-color: #00aaffff;
	font-family:  arial;
}
.label{
	margin: 10px;
}
.dropdown{
	margin: 10px;
}
.cards{
	width: 100px;
	margin-left: -75px;
}
.scards{
	width: 100px;
	margin: 1px;
}
.handtest{
	width: 100%;
}
