.Init{
  text-align: center;
  align-items: center;
  font-family: arial;
}

.textfield{
  margin: 10px;
}

.button{
  margin: 10px;
}
.App {
  border: 3px #solid #eee;
  box-shadow: 0 2px 2px #ccc;
  display: block;
  text-align: center;
  margin: 20px;
  padding: 50px;
  box-shadow: 20px;
  background-color: #ffff11ff;
  font-family:  arial;
}
.para{
  font-family: inherit;
  font-weight: bold;
}
