body {
	color: white;
	background-image: url("background.jpg");
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #00990d;
}

h1 {
	color: white;
	font-size: 28px;
	display: inline;
}

span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.Init{
	text-align: center;
	align-items: center;
	font-family: arial;
}

.textfield{
	margin: 10px;
}

.button{
	margin: 10px;
}
.App {
	border: 0px #solid #eee;
	display: block;
	text-align: center;
	margin: 20px;
	padding: 70px;
	background-color: #ffff11ff;
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
}

.App h1 {
	color: black;
	font-size: 28px;
	display: inline;
}

.para{
	font-family: inherit;
	font-weight: bold;
}
.Game{
	text-align: center;
	vertical-align: center;
	display: inline-block;
	margin: auto;
	width: 100%;
	height: 100%;
	font-family: arial;
}

.Scoreboard{
	color: black;
	border-left: 0px;
	border-right: 4px #000000;
	border-top: 4px #000000;
	border-bottom: 4px #000000;
	border-style: solid;
	
	height: 200px;
	width: 250px;
	line-height: 200px;
	
	display: inline-block;
	padding: 10px;
	
	margin-top: 10px;
	margin-bottom: 10px;
	
	background-color: silver;
	font-family:  arial;
	text-align: left;
}

.Scoreboard h1 {
	color: black;
	font-size: 28px;
	display: inline;
}

.GameInfo {
	color: black;
	border-right: 4px #000000;
	border-left: 4px #000000;
	border-top: 4px #000000;
	border-bottom: 4px #000000;
	border-style: solid;
	
	height: 200px;
	width: 250px;
	line-height: 200px;
	
	display: inline-block;
	padding: 10px;
	
	margin-top: 10px;
	margin-bottom: 10px;
	
	background-color: silver;
	font-family: arial;
	text-align: left;
}

.GameInfo h1 {
	color: black;
	font-size: 28px;
	display: inline;
}

.statusbox {
	font-size: 20px;
	font-weight: bold;
	vertical-align: bottom;
	margin: auto;
}

.hand {
	display: inline;
	margin-left: 75px;
}

.selected-cards {
	margin: auto;
	display: inline;
}

.discardpile{
	text-align: center;
}

.label{
	margin: 10px;
}
.dropdown{
	margin: 10px;
}
.cards{
	width: 100px;
	margin-left: -75px;
}
.scards{
	width: 100px;
	margin: 1px;
}
.handtest{
	width: 100%;
}
